@import 'bootstrap/dist/css/bootstrap.min.css'

*
    // outline: 1px solid black
    


.header
    div
        margin: 0 auto
        padding: 0
        .section1
            // height: 1000px
            position: relative
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            height: 100vh
            .heroImage
                background-image: url('../images/plants-compressed.png')
                background-size: cover
                background-position: center
                height: 100%
                width: 100%
            div
                position: absolute
                left: 100px
                background-color:  transparent
                // border: 5px solid black
                top: 100px
                span
                    font-size: 3rem
                h1
                    font-size: 10rem
                img
                    height: 100px



.bodyContent
    outline: 1px solid black
    .row
        div
            margin: 0 auto

    .bodySection1
        div
            div
                .itemWrapper
                    div
                        display: flex
                        flex-direction: column
                        align-items: center
                        justify-content: center
                        height: 250px
                        // outline: 1px solid red
                        position: relative
                        span
                            width: 90%
                            // outline: 1px solid black
                            text-align: center
                            color: grey
                        img
                            border-radius: 20px
                            height: 150px
                        h3
                            margin: 0
