@import 'bootstrap/dist/css/bootstrap.min.css'

*
    // outline: 1px solid black
    

.container-fluid
    div
        div
            margin: 0 auto
            div
                // height: 1000px
                position: relative
                div
                    position: absolute
                    left: 100px
                    background-color:  transparent
                    // border: 5px solid black
                    top: 100px
                    span
                        font-size: 3rem
                    h1
                        font-size: 10rem
                    img
                        height: 100px


.section1
    // background-color: red
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    height: 100vh
.header
    div
        padding: 0
.heroImage
    background-image: url('../images/plants.png')
    background-size: cover
    background-position: center
    height: 100%
    width: 100%

.section2
    // background-color: green
    outline: 1px solid black