@use '../../../_variables' as v

.galleryItemWrapper
    >div
        >div
            // transition: 1s 
            cursor: pointer
            &:hover
                // box-shadow: 0px 0px 0px 0px #0000002e
            @include v.defaultBoxAppearance

            img
                // border-radius: v.$borderRadius
                border-top-left-radius: v.$borderRadius
                border-bottom-left-radius: v.$borderRadius
                height: 150px

            div
                width: 50%
                h3
                    font-size: 1.5rem
                span
                    color: grey





// Custom Popup
.popupWrapper
    transform: scale(0)
    // background-color: #00000059
    left: 0%
    top: 0%
    .popupBackground
      // background-color: #00000059
      cursor: pointer
      z-index: 0

    .popupContent
        background-color: #407b53
        border-radius: v.$borderRadius
        height: 500px
        max-width: 900px
        z-index: 10

        .popupColumn1
            width: 40%
        .popupColumn2
            width: 60%
        div
            padding: 20px
            background-color: orange

.showWrapper
    // box-shadow: 0px 0px 0px 0px #0000002e !important
    // margin-top: 1.6rem !important
    animation: clickTest 1s
    animation-fill-mode: forwards
    // left: 0

    @keyframes clickTest
        0%
            transform: scale(0)
            opacity: 0

        80%
            transform: scale(1)
        
        90%
            opacity: 1

        100%
            transform: scale(1)

    
.hideWrapper
    animation: hideWrapper 1s
    animation-fill-mode: forwards
    // left: 0
    .popupBackground
        opacity: 0
    @keyframes hideWrapper
        0%
            transform: scale(1)
            opacity: 1
        50%
            transform: scale(0)
            opacity: 0
        99%
            opacity: 0
        100%
            transform: scale(0)